<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="format" value="%date [%level] [%thread] %logger{60} [%file:%line] %msg%n" />

    <appender name="FILE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${format}</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>
</configuration>