<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kaiccc.kai4boot.module.spider.mapper.SpiderRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.kaiccc.kai4boot.module.spider.entity.SpiderRecord">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="title" property="title" />
        <result column="detail" property="detail" />
        <result column="url" property="url" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
